 #  <center> YELO BANK TECHNICAL SKILL TEST üîî

# Task 1 
###### (Use loan_data.xlsx  file for Task 1) üìå



Title | Definition
---|---------
`CUSTOMER_NO`| id of costumer
`BEGIN_DATE` |  open date of loan
`END_DATE` | close date of loan  
`CLOSE_DATE` | actual close date of loan
`BRANCH_NAME` | name of product
`INTEREST_RATE` | loan interest rate(annual)
`BIRTH_DATE` |  birth date of customer
`PRODUCT_NAME` | name of product
`AMOUNT` |  given amount of loan
`REMAIN_AMOUNT` | customer's debt to bank
`CATEGORY` |  cutomer category (GB -good bank / BB- bad bank) 
`GSM_NO` |  Mobile Phone

 ## <center> Customer Segmentation

##  1. Data cleaning & Preparation üßπ
### Tips for data cleaning : 
 ##### Pay attention  ‚ùó
- Data types
- Null values
- Extreme values
- Duplicates
- Correct telephone number format (ex.: 994752000000 , numbers should be start with 99475, 99476, 99433 )

## 2. EDA ( Exploratory Data Analysis) üìà
### Tips :
1. Yearly and monthly sales amount and count (using pivot_table func.)
2. Active & non-active customer distribution by product names
3. Your approach üôÇ (mandatory)

## 3. Segmentation for loan offer  üôãüèªüôãüèª‚Äç‚ôÇÔ∏è
##### Only these customers are able to take loan:

1. Age between 25 and 64
2. Category not in "BB"
3. Branch name not like "UPA"
4. Don't have active loan or remain amount < 60 %

### After defining your segment follow this steps :

- Split your segment into Target and Test customers
- Test clients should be 10 % of segment
- Use stratified sampling method for choosing test clients
- Show them as by creating a new column named as "TYPE"

# <center> Task 2

#### SQL task  ==> check attached excel file

# <center> Task 3

## Insight Finding üìù

Analyze and visualize data and present your findings (preferably PPT)

Prepare the business proposal using data set provided in PYTHON task. Final presentation need to include following insights:


1.	Customer Segmentations and their profile (Exp. Customer between age 25-30 majorly set to require loans between X-Y AZN with Z month period)
2.	Top 3 customer segments which can increase sales if targeted properly. (Exp. Students can be targeted during back to school period as they are not targeted properly and have less risk based on data)
3.	The new bank product to increase the sales and cover customers need. ( Exp. Students credit X AZN with Y period can be attractive and cover majority of customer base.)

###### Note: Business proposal need to be part of business story telling within presentation.

### <center> GOOD LUCK!

##  1. Data cleaning & Preparation üßπ

In [15]:
import pandas as pd

In [16]:
df = pd.read_excel('loan_data.xlsx')
df

,CUSTOMER_NO,BIRTH_DATE,BEGIN_DATE,END_DATE,CLOSE_DATE,BRANCH_NAME,INTEREST_RATE,PRODUCT_NAME,AMOUNT,REMAIN_AMOUNT,CATEGORY,GSM_NO
0,462598,20-03-1984,2021-05-04,2024-05-04,NaT,11S,19.9,ƒ∞stehlak kredit (Cash),8000.0,2601.80,GB,994758000022
1,469638,01-12-1977,2021-06-14,2025-03-14,2023-09-29,11S,19.9,ƒ∞stehlak kredit (Cash),9000.0,0.00,GB,994758000023
2,489282,18-09-1997,2021-09-01,2024-09-01,2022-03-16,11S,18.3,ƒ∞stehlak kredit (Cash),7000.0,0.00,GB,994758000025
3,490443,03-01-1987,2021-09-06,2024-09-06,2023-05-18,11S,20.0,ƒ∞stehlak kredit (Cash),5000.0,0.00,GB,994758000026
4,331469,15-09-1989,2021-09-10,2024-09-10,2021-12-06,11S,17.0,ƒ∞stehlak kredit (Cash),24000.0,0.00,GB,994758000027
...,...,...,...,...,...,...,...,...,...,...,...,...
20069,522540,06-06-1970,2021-12-10,2024-12-10,2022-08-30,O,18.0,ƒ∞stehlak kredit (Cash),14200.0,0.00,GB,NaN
20070,474877,23-01-1988,2023-09-05,2026-09-05,NaT,O,13.9,ƒ∞stehlak kredit - Online,17000.0,15995.80,GB,994767003628
20071,812387,18-01-1998,2023-12-04,2025-12-04,NaT,O,12.9,ƒ∞stehlak kredit - Online,10000.0,9678.58,GB,NaN
20072,202641,24-06-1959,2023-08-14,2024-07-14,NaT,O,13.5,∆èman…ôt√ßi krediti,1500.0,810.51,GB,NaN
20073,522302,29-10-1989,2022-02-23,2025-02-23,NaT,O,17.0,ƒ∞stehlak kredit (Cash),7800.0,3341.76,GB,NaN

In [17]:
df.describe()

,CUSTOMER_NO,BEGIN_DATE,END_DATE,CLOSE_DATE,INTEREST_RATE,AMOUNT,REMAIN_AMOUNT
count,20074.000000,20074,20074,8744,20074.000000,20074.000000,20074.000000
mean,518376.961144,2022-11-27 16:06:58.929958912,2025-07-12 18:27:22.004583168,2023-02-06 19:14:46.001829888,16.226243,9938.329899,4292.121747
min,12702.000000,2021-01-14 00:00:00,2024-02-15 00:00:00,2021-03-09 00:00:00,4.000000,300.000000,0.000000
25%,404840.500000,2022-05-12 00:00:00,2024-09-12 00:00:00,2022-09-09 00:00:00,14.900000,4000.000000,0.000000
50%,519707.500000,2023-01-10 00:00:00,2025-05-19 00:00:00,2023-04-06 00:00:00,16.000000,7000.000000,1015.275000
75%,665035.000000,2023-08-04 00:00:00,2026-03-16 00:00:00,2023-08-31 00:00:00,17.000000,13000.000000,5787.732500
max,824158.000000,2023-12-30 00:00:00,2028-11-30 00:00:00,2023-12-30 00:00:00,29.000000,200000.000000,105080.830000
std,184675.378399,NaN,NaN,NaN,2.305223,9229.274894,7251.010323